/*±³¾°*/
.my-background {
    background-image: url("../../img/views/background/0001.jpg");
    _position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* min-height: 640px; */
    z-index: -10;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    zoom: 1;
}

/*µ¼º½À¸*/
.am-topbar {
	background: 0 0;
    border-width: 0;
    margin-bottom: 0;
}
.am-topbar-nav>li>a {
    color: #fff;
	opacity: 0.8;
	font-size: 1.4rem;
}

.am-topbar-nav>li>a:hover:after {
     opacity: 0; 
}

.am-topbar-nav>li>a:hover {
    background: 0 0;
	opacity: 1;
}

.am-topbar-nav>li>a:focus {
    background: 0 0;
}


@media only screen and (max-width: 639px) {
	.am-topbar {
		background: #000000b3;
		border-width: 0;
	}
}

/*ËÑË÷¿ò*/
.search_large{
    position: relative;
    margin-left: 1rem;
	margin-top: 20vh;
	
}

.search_large form {
    display: inline-flex;
	width: 98%;
	max-width: 42rem;
}

.search_input{
	width: 90%;
    padding: .5em;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

/*±êÇ©*/
.mark-site{
    position: relative;
	margin-top: 80vh;
    padding-top: 2rem;
}



